@charset "utf-8";

.cutting_input {
    text-align: right;
}

.it_cut_list {}
.it_cut_list table {}
.it_cut_list table tr th {
    background-color: #ffffff;
    text-align: center;
}
.it_cut_list table tr th, .it_cut_list table tr td {
    font-size: 0.95em;
    border: 1px solid #d5d5d5;
}
.it_cut_list table tr td {
    background-color: #f2f2f2;
    text-align: right;
}